---
title: Home
layout: page.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 id="intro-title" class="display-5 fw-bold">{{ site.title }}</h1>
    <p class="col-md-8 fs-4">
      {{ site.description }}
    </p>
  </div>
</div>

{# {{ collections.moves | dump | safe}} #}

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for move in moves %} {%- set path = ['/moves/', move.name | slugify, '/']
    | join %}
    <div class="col">
      <div class="card shadow-sm {{ move.tags }}">
        {# TODO: use image shortcode #}
        <a href="{{ path | url }}">
          {%- set image_path = ["https://i3.ytimg.com/vi/", move.url, "/maxresdefault.jpg"] | join %}
          {% image image_path, move.name, 'img-fluid' %}
          {# <img class="card-img-top" src="https://i3.ytimg.com/vi/{{ move.url }}/maxresdefault.jpg" alt="{{ move.name }}"> #}
        </a>
        <div class="card-body">
          <p class="card-text">{{ move.name }}</p>
          <p class="card-text">
            {%- set belt_url = ['/assets/images/BJJ_', move.belt, '_Belt.svg.png'] | join %}
            <img class="img-fluid" src="{{ belt_url | url }}" alt="{{ move.belt }} belt"></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                href="{{ path | url }}"
                class="btn btn-sm btn-outline-secondary"
                >View</a
              >
            </div>
            <small class="text-body-secondary">{{ move.tags }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{# <ul>
  {% for move in moves %} {%- set path = ['/moves/', move.name | slugify, '/'] |
  join %}
  <li>
    <a href="{{ path | url }}">{{ move.name }}</a>
  </li>
  {% endfor %}
</ul> #}
