---
layout: page
pagination:
  data: moves
  size: 1
  alias: move
permalink: "moves/{{ move.name | slugify }}/"
---
{# https://www.11ty.dev/docs/pages-from-data/ #}


<h1>{{ move.name }}</h1>

<ul>
    <li>{{ move.tags }}</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ move.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>